<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>org.example.controller.AlgorithmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sortingController</servlet-name>
        <servlet-class>org.example.controller.SelectionSortController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sortingController</servlet-name>
        <url-pattern>/selection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shallowSort</servlet-name>
        <servlet-class>org.example.controller.ShellSortController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shallowSort</servlet-name>
        <url-pattern>/shell</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>quickSort</servlet-name>
        <servlet-class>org.example.controller.QuickSortController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>quickSort</servlet-name>
        <url-pattern>/quick</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mergeSort</servlet-name>
        <servlet-class>org.example.controller.MergeSortController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mergeSort</servlet-name>
        <url-pattern>/merge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>countingSort</servlet-name>
        <servlet-class>org.example.controller.CountingSortController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>countingSort</servlet-name>
        <url-pattern>/counting</url-pattern>
    </servlet-mapping>
</web-app>
